In [1]:
import pandas as pd

C:\Users\nayee\AppData\Local\Temp\ipykernel_2712\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df=pd.read_csv("games.csv")

In [8]:
df.head()

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
0,12333,boardgame,Twilight Struggle,2005.0,2.0,2.0,180.0,180.0,180.0,13.0,20113,8.33774,8.22186,26647,372,1219,5865,5347,2562,3.4785
1,120677,boardgame,Terra Mystica,2012.0,2.0,5.0,150.0,60.0,150.0,12.0,14383,8.28798,8.14232,16519,132,1586,6277,2526,1423,3.8939
2,102794,boardgame,Caverna: The Cave Farmers,2013.0,1.0,7.0,210.0,30.0,210.0,12.0,9262,8.28994,8.06886,12230,99,1476,5600,1700,777,3.7761
3,25613,boardgame,Through the Ages: A Story of Civilization,2006.0,2.0,4.0,240.0,240.0,240.0,12.0,13294,8.20407,8.05804,14343,362,1084,5075,3378,1642,4.1590
4,3076,boardgame,Puerto Rico,2002.0,2.0,5.0,150.0,90.0,150.0,12.0,39883,8.14261,8.04524,44362,795,861,5414,9173,5213,3.2943

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81312 entries, 0 to 81311
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    81312 non-null  int64
 1   type                  81312 non-null  object
 2   name                  81271 non-null  object
 3   yearpublished         81309 non-null  float64
 4   minplayers            81309 non-null  float64
 5   maxplayers            81309 non-null  float64
 6   playingtime           81309 non-null  float64
 7   minplaytime           81309 non-null  float64
 8   maxplaytime           81309 non-null  float64
 9   minage                81309 non-null  float64
 10  users_rated           81312 non-null  int64
 11  average_rating        81312 non-null  float64
 12  bayes_average_rating  81312 non-null  float64
 13  total_owners          81312 non-null  int64
 14  total_traders         81312 non-null  int64
 15  total_wanters         81312 non-null  int64
 16  total_wishers         81312 non-null  int64
 17  total_comments        81312 non-null  int64
 18  total_weights         81312 non-null  int64
 19  average_weight        81312 non-null  float64
dtypes: float64(10), int64(8), object(2)
memory usage: 12.4+ MB

In [19]:
df.loc[3,'name']

'Through the Ages: A Story of Civilization'

In [32]:
df.loc[[1,2,3]]

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
1,120677,boardgame,Terra Mystica,2012.0,2.0,5.0,150.0,60.0,150.0,12.0,14383,8.28798,8.14232,16519,132,1586,6277,2526,1423,3.8939
2,102794,boardgame,Caverna: The Cave Farmers,2013.0,1.0,7.0,210.0,30.0,210.0,12.0,9262,8.28994,8.06886,12230,99,1476,5600,1700,777,3.7761
3,25613,boardgame,Through the Ages: A Story of Civilization,2006.0,2.0,4.0,240.0,240.0,240.0,12.0,13294,8.20407,8.05804,14343,362,1084,5075,3378,1642,4.1590

In [31]:
df.loc[[1,2,3],"name"]

1                                Terra Mystica
2                    Caverna: The Cave Farmers
3    Through the Ages: A Story of Civilization
Name: name, dtype: object

In [22]:
df.loc[90,'name']

'Patchwork'

In [23]:
df['minplayers'].min()

0.0

In [24]:
df['minplayers'].max()

99.0

In [25]:
df.describe()

,id,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
count,81312.000000,81309.000000,81309.000000,81309.000000,81309.000000,81309.000000,81309.000000,81309.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000
mean,72278.150138,1806.630668,1.992018,5.637703,51.634788,49.276833,51.634788,6.983975,161.886585,4.212144,1.157632,262.502509,9.236423,12.688890,42.719144,49.290031,16.488009,0.908083
std,58818.237742,588.517834,0.931034,56.076890,345.699969,334.483934,345.699969,5.035138,1145.978126,3.056551,2.340033,1504.536693,39.757408,60.764207,239.292628,284.862853,115.980285,1.176002
min,1.000000,-3500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,21339.750000,1984.000000,2.000000,2.000000,8.000000,10.000000,8.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,43258.000000,2003.000000,2.000000,4.000000,30.000000,30.000000,30.000000,8.000000,2.000000,5.265620,0.000000,7.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
75%,128836.500000,2010.000000,2.000000,6.000000,60.000000,60.000000,60.000000,12.000000,16.000000,6.718777,0.000000,51.000000,2.000000,3.000000,7.000000,9.000000,2.000000,1.916700
max,184451.000000,2018.000000,99.000000,11299.000000,60120.000000,60120.000000,60120.000000,120.000000,53680.000000,10.000000,8.221860,73188.000000,1395.000000,1586.000000,6402.000000,11798.000000,5996.000000,5.000000

In [36]:
df.sort_values(by=['total_weights'],ascending=False)

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
165,13,boardgame,Catan,1995.0,3.0,4.0,90.0,90.0,90.0,10.0,53680,7.34303,7.21171,73188,1071,391,3201,11798,5996,2.3712
1965,13,boardgame,Catan,1995.0,3.0,4.0,90.0,90.0,90.0,10.0,53680,7.34303,7.21171,73188,1071,391,3201,11798,5996,2.3712
1908,822,boardgame,Carcassonne,2000.0,2.0,5.0,45.0,30.0,45.0,8.0,52781,7.44251,7.34659,69550,981,367,3094,11794,5951,1.9501
108,822,boardgame,Carcassonne,2000.0,2.0,5.0,45.0,30.0,45.0,8.0,52781,7.44251,7.34659,69550,981,367,3094,11794,5951,1.9501
4,3076,boardgame,Puerto Rico,2002.0,2.0,5.0,150.0,90.0,150.0,12.0,39883,8.14261,8.04524,44362,795,861,5414,9173,5213,3.2943
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49066,65847,boardgame,CAP Kalle Ankas rymdspel,1963.0,2.0,0.0,0.0,0.0,0.0,0.0,1,3.00000,0.00000,0,0,0,0,0,0,0.0000
49068,65856,boardgame,League of Nations,2011.0,3.0,6.0,90.0,90.0,90.0,14.0,0,0.00000,0.00000,1,0,3,10,0,0,0.0000
25853,20236,boardgame,Swim,1992.0,2.0,6.0,30.0,30.0,30.0,0.0,9,5.44444,0.00000,24,0,2,3,2,0,0.0000
49070,65860,boardgame,Name That Union,0.0,2.0,6.0,0.0,0.0,0.0,20.0,0,0.00000,0.00000,0,0,0,1,0,0,0.0000
81311,184451,boardgame,Bingo Animal Kids,2010.0,1.0,6.0,10.0,10.0,10.0,2.0,0,0.00000,0.00000,0,0,0,0,0,0,0.0000

In [45]:
(df['minplayers']==14)

0        False
1        False
2        False
3        False
4        False
         ...
81307    False
81308    False
81309    False
81310    False
81311    False
Name: minplayers, Length: 81312, dtype: bool

In [46]:
df.loc[df['minplayers']==14.0]

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
24452,18435,boardgame,Empire,1970.0,14.0,39.0,300.0,300.0,300.0,0.0,0,0.0,0.0,1,0,0,0,1,0,0.0
28191,23125,boardgame,The Last Gasp,2001.0,14.0,40.0,240.0,240.0,240.0,18.0,0,0.0,0.0,0,0,0,0,0,0,0.0
28210,23150,boardgame,Cudham Riding Club,0.0,14.0,40.0,240.0,240.0,240.0,18.0,0,0.0,0.0,0,0,0,0,0,0,0.0

In [47]:
df.describe()

,id,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
count,81312.000000,81309.000000,81309.000000,81309.000000,81309.000000,81309.000000,81309.000000,81309.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000,81312.000000
mean,72278.150138,1806.630668,1.992018,5.637703,51.634788,49.276833,51.634788,6.983975,161.886585,4.212144,1.157632,262.502509,9.236423,12.688890,42.719144,49.290031,16.488009,0.908083
std,58818.237742,588.517834,0.931034,56.076890,345.699969,334.483934,345.699969,5.035138,1145.978126,3.056551,2.340033,1504.536693,39.757408,60.764207,239.292628,284.862853,115.980285,1.176002
min,1.000000,-3500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,21339.750000,1984.000000,2.000000,2.000000,8.000000,10.000000,8.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,43258.000000,2003.000000,2.000000,4.000000,30.000000,30.000000,30.000000,8.000000,2.000000,5.265620,0.000000,7.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
75%,128836.500000,2010.000000,2.000000,6.000000,60.000000,60.000000,60.000000,12.000000,16.000000,6.718777,0.000000,51.000000,2.000000,3.000000,7.000000,9.000000,2.000000,1.916700
max,184451.000000,2018.000000,99.000000,11299.000000,60120.000000,60120.000000,60120.000000,120.000000,53680.000000,10.000000,8.221860,73188.000000,1395.000000,1586.000000,6402.000000,11798.000000,5996.000000,5.000000

In [49]:
df['minplayers'].mode()

0    2.0
Name: minplayers, dtype: float64

value_counts
sort_values

In [52]:
df['minplayers'].value_counts().head()

minplayers
2.0    60558
1.0     9693
3.0     6304
0.0     2307
4.0     1744
Name: count, dtype: int64

In [53]:
df.loc[df['minplayers']==2.00000].sort_values(by='maxplayers')

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
39870,36864,boardgame,Naked!,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0,0.000,0.0,7,0,0,2,0,0,0.0
65638,137462,boardgameexpansion,Armalion: Kampf um Ilsur,2000.0,2.0,0.0,0.0,0.0,0.0,0.0,1,8.000,0.0,6,1,0,0,0,0,0.0
65634,137453,boardgame,La Pontica,1690.0,2.0,0.0,0.0,0.0,0.0,0.0,0,0.000,0.0,0,0,0,1,0,0,0.0
65613,137368,boardgame,20 Jahre deutsche Demokratische Republik,1969.0,2.0,0.0,45.0,45.0,45.0,6.0,0,0.000,0.0,0,0,0,0,0,0,0.0
65566,137230,boardgame,Das Weihnachts-Quiz,2011.0,2.0,0.0,0.0,0.0,0.0,12.0,0,0.000,0.0,1,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62615,128512,boardgame,The Quitting Game,2012.0,2.0,1000.0,0.0,0.0,0.0,0.0,0,0.000,0.0,0,0,0,0,0,0,0.0
33677,29664,boardgame,The New Games Book,1976.0,2.0,2000.0,0.0,0.0,0.0,10.0,4,6.025,0.0,9,0,0,0,5,0,0.0
74791,166649,boardgame,Rock Paper Scissor Mayhem,2014.0,2.0,2014.0,15.0,15.0,15.0,6.0,2,4.000,0.0,4,0,0,0,0,0,0.0
57873,111146,boardgame,Spare Squares,2011.0,2.0,10000.0,10.0,10.0,10.0,8.0,0,0.000,0.0,2,0,0,0,0,0,0.0
16673,8300,boardgame,TOM: The Origins Metagame,2002.0,2.0,11299.0,10.0,10.0,10.0,0.0,1,4.000,0.0,17,3,1,1,1,0,0.0

In [55]:
df['ratio']=df['maxplayers']/df['minplayers']
df['ratio']

0        1.0
1        2.5
2        7.0
3        2.0
4        2.5
        ...
81307    1.0
81308    0.0
81309    7.5
81310    2.0
81311    6.0
Name: ratio, Length: 81312, dtype: float64

In [57]:
df.sort_values(by='ratio').head()

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,...,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight,ratio
65940,138420,boardgameexpansion,Malifaux: Rail Crew,2012.0,2.0,0.0,0.0,0.0,0.0,0.0,...,8.0,0.0,12,0,0,1,0,0,0.0,0.0
49027,65768,boardgame,Mimelen,2008.0,3.0,0.0,20.0,20.0,20.0,5.0,...,0.0,0.0,9,0,0,0,2,0,0.0,0.0
49033,65774,boardgame,Saviors of My Country,2005.0,2.0,0.0,0.0,0.0,0.0,0.0,...,5.5,0.0,2,0,0,0,1,1,2.0,0.0
49034,65775,boardgame,The Fate of a Continent,2005.0,2.0,0.0,0.0,0.0,0.0,0.0,...,5.5,0.0,2,0,0,0,1,1,2.0,0.0
49036,65778,boardgame,There Stands Jackson,2005.0,2.0,0.0,0.0,0.0,0.0,0.0,...,5.5,0.0,2,0,0,0,1,1,2.0,0.0

In [58]:
df['ratio'].value_counts()

ratio
2.0      24772
1.0      16297
3.0      12398
4.0       5681
2.5       4560
         ...
43.0         1
21.0         1
42.0         1
199.5        1
3.6          1
Name: count, Length: 186, dtype: int64

In [61]:
df.loc[df['ratio']==2.5].sort_values(by='maxplayers',ascending=False).head()

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,...,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight,ratio
31103,26668,boardgame,Love and Marriage,0.0,16.0,40.0,45.0,45.0,45.0,10.0,...,5.00000,0.0,12,0,0,1,6,2,1.50,2.5
52410,85216,boardgame,Chlopska Szkola Biznesu,2010.0,12.0,30.0,45.0,45.0,45.0,12.0,...,7.85714,0.0,13,1,0,1,3,1,2.00,2.5
33142,29041,boardgame,Killing for the Crown,2006.0,10.0,25.0,240.0,240.0,240.0,18.0,...,0.00000,0.0,0,0,0,0,0,0,0.00,2.5
31419,27031,boardgame,Confucianism and the Succession Crisis of the ...,2005.0,10.0,25.0,550.0,550.0,550.0,0.0,...,0.00000,0.0,1,0,1,2,0,0,0.00,2.5
21239,14550,boardgame,Hollywood Lives,2004.0,10.0,25.0,180.0,180.0,180.0,12.0,...,7.43333,0.0,131,15,6,21,21,4,1.75,2.5

In [68]:
df.query('ratio==2.0').shape

(24772, 21)